body{background-color:CFD2CF;}



#n1{
  position: relative;
  top:80px;
background-color: F9F9F9;
height:570px;width: 570px;padding: 10px;border-radius: 20PX;}

#d1{border: none;
height: 80px;weight:220px;border-radius: 50px;}

#d2{border: none;
height: 80px;weight:220px;border-radius: 50px;}

#d3{border: none;
height: 80px;weight:720px;border-radius: 50px;}


#d4{border: none;
height: 80px;weight:220px;border-radius: 50px;}
